* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   
  }
  
  body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    
  }
  .back{
    background-image: url(background6.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
  }
  
  .container {
    position: absolute;
    left: 50%;
    top: 50%;
    background: transparent;
    transform : translate(-50% , -50%);
    /* background-color: #fff; */
    border: 3px solid #f5efef;
    border-radius: 5px;
    box-shadow: 0 5px 7px rgba(0, 0, 0, 0.1);
    /* margin: 20px auto; */
    padding: 20px;
    width: 450px;
  }
  
  h2{
    text-align: center;
  justify-content: center;
  margin-bottom: 10px;
  color: white;
  }
  .form-group {
    margin-bottom: 10px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    color: white;
  }
  
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
    margin-top: 10px;
    color: white;
    background: transparent;
  }
  
  button.btn {
    display: block;
    margin: 10px 0 0 auto;
    padding: 10px 20px;
    background-color: #1077cf;
    color: #fff;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    margin-top: 20px;
  }
  
  button.btn:hover {
    background-color: #3e8e41;
  }
  